@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
/* ↑ imports ↑ */

@keyframes loading {
    0% {color: grey}
    50% {color: white}
    100% {color: grey}
}

@keyframes loadanim {
    0% {background-position:90% 50%}
    50% {background-position:10% 50%}
    100% {background-position:90% 50%}
}

@keyframes loadscroll {
    0% {transform: translate(0%,0)}
    100% {transform: translate(-53%,0)}
}
/* ↑ keyframes ↑ */

* {scrollbar-width: none; margin: 0; font-family: "Arial"; overflow: hidden}
body {position: absolute; height: 100vh; width: 100vw; background: #1d110e; display: flex; pointer-events: none}
body * {pointer-events: all; color: #1d110e}
small.loading {user-select: none; animation: loading 1s infinite}
small.loadscroll {user-select: none; animation: loading 1s infinite, loadscroll 5s infinite linear; display: block}
.loading div {background:linear-gradient(225deg, grey, white); background-size: 400%; animation: loadanim 2s infinite}
p span {color: white !important; margin: 0 !important; cursor: pointer}
small.sign {align-self: center; margin: 1.5vh !important; cursor: pointer; bottom: 0; position: absolute}
/* ↑ elements ↑ */

#left {width: 20%; background: #feefdf}
    #left * {overflow: visible; font-family: "Anton SC", sans-serif; margin: 8%}    
    #left * * {margin: 0}
    #left h3 {letter-spacing: 1px; width: 84%; border-top: 1px solid #84807d; border-bottom: 1px solid #84807d; height: 2vh; line-height: 2vh; font-size: 2.6vh}
    #left h1 {
        text-shadow:
            0.8px 0.8px 0 #1d110e,
            -0.8px 0.8px 0 #1d110e,
            -0.8px -0.8px 0 #1d110e,
            0.8px -0.8px 0 #1d110e;
        letter-spacing: 1px; color: #feefdf; position: absolute; font-size:3.3vw; font-weight: initial}
        #left h1:after {letter-spacing: 1px; color: #1d110e; position: absolute; content: "Gramweb -"; left: 0; clip-path: polygon(362px 500%, 114.74% 1px, 91.24% -0.33%, 5px 94.33%); top: 0}
    #media {height: 24px; display: flex}
        #media * {margin-right: 3px; user-select: none}
        #media svg {cursor: pointer}
    #news {display: flex; flex-wrap: wrap; overflow-y: auto; height: calc(75% - 52px)}
        #news div {width: 47.5%; background: #feefdf; z-index: 2}
            #news > div > div {width: 100%; height: fit-content; border-bottom: 1px #1d110e solid; margin-bottom: 2px}
                #news div div div {width: 100px; background:linear-gradient(225deg, grey, white); background-size: 400%; animation: loadanim 2s infinite}
                #news div img {width: 100%; filter: grayscale(); transition-delay: 0.5s; transition-duration: 1s; position: relative}
                    #news div div img:hover {filter: none}
                #news div div h4 {height: 19px; line-height: 16px; font-size: 10px; white-space: nowrap; font-weight: lighter}
                #news div div h3 {width: auto; font-size: 14px; letter-spacing: -0.8px; font-weight: lighter}
                #news div div p {line-height: 7px; font-size: 10px; margin-top: 10px; margin-bottom: 10px; font-family: "Bona Nova SC", serif; font-weight: bold}

@media (max-height: 450px) {
    #left h3 {display: none}
    #news {margin-top: 11vh}
}

#main {width: 50%; background: #1d110e; z-index:-2; display: flex; flex-direction: column}
    #main > div {width: 100%; height: 50%}
    #context {width: 100%; height: 100%; position: absolute; left: 0; border: #423936}
    #list {background: #1d110e; z-index: 1}
        .panel {height:calc(100% - 45px) !important; margin-top: 3%; margin-left: 18px; width: 100%}
            #list div div h1 {font-family: "Anton SC", sans-serif; height:  38px; color: white; border-bottom: 2px solid #7b7873; letter-spacing: 2px}
            #lines {padding-left: 5px; font-size: x-small; flex: none; padding-right: 5px; border-right: 0.5px solid #4c4441; text-align: right}
            #code {padding-left: 5px; font-size: x-small; white-space: preserve; overflow: scroll; text-wrap: nowrap}
            #webview {padding-left: 5px}
        #list div whitespace {width: 2px; height:calc(100% - 45px); margin-top: 3%; background: #4c4441; flex-shrink: 0}
            #settings {display: flex}
                #settings * {flex-shrink: 0; border-radius: 5px}
                #settings small {color: #7b7873}
            #explorer * {color: #84807d}
                #explorer div div {height: 98%}
                #explorer .view {resize: horizontal; flex-shrink: 0; width: 20%; border-right: 2px solid #4c4441; display: flex; flex-direction: column; overflow: auto}
                    .view small {font-size: x-small; padding-left: 5px; cursor: pointer; flex-shrink: 0; white-space: nowrap; display: flex; padding: 2px}
                        .view small:hover {background: white}
                        .view small:hover > svg g path{color: black !important}
                        .view small:hover > p{color: black !important}
                        .view small svg {margin-right: 3px !important; order: unset}
                        .view small p {user-select: none}
                    .view * {order: 2}
                    .view .dir {order: 1}
        #webstats > div {transition-property: height; transition-duration: 0.2s}
            #webstats div > * {transition-property: background, color; transition-duration: 0.2s}
        #filehttp {color: white; padding-left: 2.5px; width: fit-content; white-space: nowrap; cursor: pointer; user-select: none}

#middle {width: 15%; background: #024263}
    #middle * {color: white; margin-left: 8%}
    #middle h2 {margin-top: 8%; font-size: 2vw; text-transform: uppercase; letter-spacing: -1px; border-bottom: 1px solid #84807d; margin-right: 32%}
    #middle p {font-family: "Bona Nova SC", serif; font-weight: bold; font-size: 10px; height: 12px; letter-spacing: 1px}
    #middle canvas {aspect-ratio: 1; margin: 8%; width: 84%}

@media (max-width: 950px) {
    #right * {margin: 0 !important}
}

@media (max-width: 950px) {
    #right * {margin: 0 !important}
}

#right {width: 15%; background: #1d110e; overflow: auto}
    #right * {margin: 15px; color: #84807d; flex-shrink: 0}
    #notifications {max-height: 50%; height: auto; overflow: auto}
        #notifications * {margin: 0; white-space: nowrap}
        #notifications div {width: 100%; height: 55px; display:flex}
        #notifications div img {margin: 5px !important; width: 45px; border-radius: 3px; flex: none}
        #notifications div div {margin: 5px !important; width: 45px; height: 45px; border-radius: 3px; flex: none; display: flex; justify-content: center; align-items: center; font-size: xx-large; color: white; pointer-events: none; user-select: none}
        #notifications h3 {position: sticky; font-size: 10px; background: #302c2b; padding: 1px; padding-left: 12px; border-top: 0.8px solid #4f4c47}
        #notifications small {font-size: 11px; color: white}
        
        #notifications div p{margin-top: 2px !important; margin-left: 20px !important; font-size: x-small; max-width: 71%; white-space: break-spaces}
        #notifications whitespace {display: block; background: #2e2a28; height: 2px; width: 100%}
/* ↑ objects ↑ */

.static {position: absolute; height: 100vh; width: 100vw; pointer-events: none}

/*.collapse div {background: grey}
.collapse input:checked ~ div {background:blue}*/
.collapse {height: 20px !important; background: #221411; border: solid 1px #4c4441; margin: 1%; width: initial !important}
    .collapse.active {height: 100px !important}
        .collapse.active.content {display: block}
    .collapse small {color: white; user-select: none}
    .collapse > .content {height: 200px; display: none; position: initial !important; z-index: 2}
    .collapse > div:not(.content) {height: 20px; border-bottom: 1px solid #4c4441; border-left: 5px solid transparent; border-right: 5px solid transparent}
        .collapse > div:hover:not(.content) {background: white}
            .collapse > div:hover:not(.content) small {color: black !important}
    .collapse.content {position: absolute; width: 20px; height: 20px}

.buttons {display: flex; height: auto !important}
    .buttons > div {margin: 1%; padding: 15%; background: #221411; border: solid 1px #4c4441; width: 100%}
    .buttons > div:hover {background: white}