@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
/* ↑ imports ↑ */

@keyframes loading {
    0% {color: grey}
    50% {color: white}
    100% {color: grey}
}
/* ↑ keyframes ↑ */

* {--scrollbar-width: 0px; margin: 0; font-family: "Arial"; overflow: hidden}
body {position: absolute; height: 100vh; width: 100vw; background-color: black; display: flex}
body div {height: 100%}
.loading {animation: loading 1s infinite}
/* ↑ elements ↑ */

#left {width: 20%; background-color: #feefdf}
    #left h1 {
        text-shadow:
            0.8px 0.8px 0 #000,
            -0.8px 0.8px 0 #000,
            -0.8px -0.8px 0 #000,
            0.8px -0.8px 0 #000;
        letter-spacing: 1px; color: #feefdf; position: absolute; margin: 1.6%; margin-top: 20px; font-size:3.3vw; font-weight: initial; height: 14%; width: 16.8%; font-family: "Anton SC", sans-serif}
    #left h1:after { letter-spacing: 1px; color: black; position: absolute; content: "Gramweb -"; left: 0; clip-path: polygon(362px 113px, 114.74% 1px, 91.24% -0.33%, 5px 94.33%); top: 0}
#main {width: 50%; background-color: #1c130e; z-index:-2; display: flex; flex-direction: column}
    #main div {width: 100%; height: 50%}
    #context {width: 100%; height: 100%; position: absolute; left: 0; border: #423936}
    #list {background-color: #1c130e; z-index: 1; display: flex; flex-direction: row}
        #list div div{height: 100%; width: 33%; margin-top: 35px}
#middle {width: 15%; background-color: #024263}
#right {width: 15%; background-color: #1c130e}
    #notifications {height: 50%; margin: 15px; overflow: auto; color: #84807d}
        #notifications div {width: 100%; height: 55px; display:flex}
        #notifications div img {margin: 5px; width: 45px; border-radius: 3px; flex: none}
        #notifications div div {margin: 5px; width: 45px; height: 45px; border-radius: 3px; flex: none; display: flex; justify-content: center; align-items: center; font-size: xx-large; color: white}
        #notifications h3 {font-size: 10px; background-color: #302c2b; padding: 1px; padding-left: 12px; border-top: 0.8px solid #4f4c47}
        #notifications small {font-size: 11px; color: white}
        
        #notifications div p {margin-top: 2px; margin-left: 20px; font-size: x-small; max-width: 71%}
        #notifications whitespace {display: block; background-color: #2e2a28; height: 2px; width: 100%}
/* ↑ objects ↑ */

.static {position: absolute; height: 100vh; width: 100vw; pointer-events: none}